
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Spartan:wght@800&display=swap');
body{
  font-family: 'Cairo', sans-serif;
}
.cairo-font {
  font-family: 'Cairo', sans-serif;
}
.spartan-font {
  font-family: 'Spartan', sans-serif;
}
.title{
  font-weight: 600;
  font-size : 5rem;
}
.title-underline {
  background: #E15562;
  width: 12rem;
  height: 0.25rem;
  margin: 0 auto;
}
.table-title{
  font-size: 1.25rem;
}
.table-bg-muted{
  background-color: #FAFAFA;
}
.table-hd-font {
  color : #A4AEC0;
}
.table-row-font{
  font-weight: 400;
}